* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    margin: 1.5rem auto;
    max-width: 1200px;
}

header {
    height: 20%;
    padding: 1.2rem;
}

main {
    height: 65%;
    margin: 1rem auto;
    padding: 1.2rem;
}

footer {
    height: 5%;
}

header, main, footer {
    background: black;
}

header .topbar, header .featured {
    padding: 1rem;
}

main {
    display: flex;
}

main section {
    background: rgb(86, 86, 116);
    height: 100%;
    margin-right: 1rem;
    padding: 1rem;
    width: 70%;
}

main section .posts {
    column-count: 2;
    column-gap: 1rem;
}

main aside {
    background: red;
    height: 100%;
    padding: 1rem;
    width: 30%;
}

p {
    background: blue;
    height: 1rem;
}

footer {
    padding: 1rem;
}

footer p {
    background: orange;
}

/* 
    ##Device = Laptops, Desktops
    ##Screen = minimum 1025px
*/  
@media (min-width: 1025px) {
    header .topbar {
        background: royalblue;
        display: flex;
        align-items: center;
        height: 35%;
    }
    
    header .featured {
        background: coral;
        height: 55%;
        margin-top: .5rem;
    }

    .logo, nav, .social {
        background: indianred;
        display: inline-block;
        height: 1rem;
    }

    .logo, .social {
        width: 12%;
    }
    
    nav {
        width: 75%;
        margin: auto 1rem;
    }

    header .featured p {
        background: yellow;
        height: 100%;
    }

    .post-item {
        background: cyan;
        height: 1rem;
        margin-bottom: 1rem;
        width: 100%;
    }

    aside p {
        background: yellowgreen;
        margin-bottom: .5rem;
    }
}
  
/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {

    /* CSS */
}
  
/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

    /* CSS */
}
  
/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
*/
  
@media (min-width: 481px) and (max-width: 767px) {

    /* CSS */
}
  
/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
*/  
@media (min-width: 320px) and (max-width: 480px) {

    /* CSS */
}