* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    padding: 2rem;
}

p {
    background: blue;
    height: 1.8rem;
}

header {
    height: 40%;
    padding: 1.5rem;
}

header, main, footer {
    background: black;
}
header .topbar, header .featured {
    padding: 1.2rem;
}
header .topbar {
    background: royalblue;
    height: 60%;
    margin-bottom: 1.8rem;
}
header .featured {
    background: coral;
    height: 27%;
}
header .featured p {
    background: yellow;
    height: 100%;
}

.logo, nav, .social {
    background: indianred;
    height: 1.8rem;
    margin-bottom: 1rem;
    width: 100%;
}

main {
    display: block;
    height: 60%;
    margin: 1.5rem auto;
    padding: 1.5rem;
}
main section {
    background: rgb(86, 86, 116);
    height: 62%;
    margin-bottom: 2rem;
    padding: 1.2rem;
    width: 100%;
}
main section .posts .post-item {
    background: cyan;
    height: 1.5rem;
    margin-bottom: 1.5rem;
    width: 100%;
}
main aside {
    background: red;
    height: 28%;
    padding: 1.2rem;
    width: 100%;
}
main aside p {
    background: yellowgreen;
    margin-bottom: 1rem;
}

footer {
    height: 10%;
    padding: 1.5rem;
}
footer p {
    height: 100%;
    background: orange;
}

/* 
    ##Device = Laptops, Desktops
    ##Screen = minimum 1025px
*/  
@media (min-width: 1025px) {
    body {
        margin: 1.5rem auto;
        max-width: 1200px;
        padding: 0;
    }
    p {
        height: 1rem;
    }
    header {
        height: 20%;
        padding: 1.2rem;
    }
    header .topbar {
        display: flex;
        align-items: center;
        height: 35%;
    }    
    header .featured {
        height: 55%;
        margin-top: .5rem;
    }

    .logo, nav, .social {
        display: inline-block;
        height: 1rem;
        margin: 0;
    }

    .logo, .social {
        width: 12%;
    }
    
    nav {
        width: 75%;
        margin: auto 1rem;
    }
    main {
        display: flex;
        height: 65%;
        margin: 1rem auto;
        padding: 1.2rem;
    }
    main section {
        height: 100%;
        margin-bottom: 0;
        margin-right: 1rem;
        padding: 1rem;
        width: 70%;
    }
    main section .posts {
        column-count: 2;
        column-gap: 1rem;
    }
    main section .posts .post-item {
        height: 1rem;
        margin-bottom: 1rem;
        width: 100%;
    }
    main aside {
        height: 100%;
        padding: 1rem;
        width: 30%;
    }
    main aside p {
        margin-bottom: .5rem;
    }
    footer {
        height: 5%;
        padding: 1rem;
    }
}
  
/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
    header {
        height: 20%;
    }
    header .topbar, header .featured {
        height: 45%;
        padding: 1.5rem;
    }
    header .topbar {
        margin-bottom: .7rem;
    }
    .logo, nav, .social {
        display: inline-block;
        height: 100%;
        margin: 0;
    }
    .logo, .social {
        width: 14%;
    }
    
    nav {
        margin: auto 1rem;
        width: 65%;
    }
    main {
        height: 65%;
    }
    main section {
        height: 75%;
    }
    main section .posts {
        column-count: 2;
        column-gap: 1.5rem;
    }
    main section .posts .post-item {
        height: 1.5rem;
        margin-bottom: 1.5rem;
        width: 100%;
    }
    main section p {
        height: 1.5rem;
    }
    main aside {
        height: 20%;
    }
    main aside p {
        height: 1.5rem;
    }
    footer {
        height: 6%;
    }
    footer p {
        height: 1.5rem;
    }
}