* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 2rem;
}
img {
    max-width: 100%;
}

header {
    background: url(../img/header.jpg) no-repeat center center;
    background-size: cover;
    padding: 1.5rem;
}
header .topbar, header .featured {
    padding: 1.2rem;
}
header .topbar {
    margin-bottom: 1.8rem;
}
.logo, .social {
    height: 1.8rem;
    margin-bottom: 1rem;
    width: 100%;
}
.logo {
    height: auto;
    text-align: center;
    margin-bottom: 1rem;
}
.logo img {
    height: auto;
    width: 4.5rem;
}
nav {
    height: auto;
    margin-bottom: 1rem;
}
nav ul {
    text-align: center;
}
nav ul li {
    display: inline-block;
    margin-bottom: .5rem;
    margin-right: .5rem;
}
nav ul li a,
.social a {
    color: rgb(85, 84, 84);
    text-decoration: none;
}
nav ul li a:hover {
    color: black;
    text-decoration: underline;
}
nav ul li a i {
    margin-right: .3rem;
}
.social {
    text-align: center;
}
.social a {
    margin: auto .5rem;
}
.social a:hover {
    color: black;
}

header .featured {
    text-align: center;
}
header .featured h1 {
    background: rgba(0,0,0,.3);
    color: rgb(240, 145, 134);
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    height: 8rem;
    margin: 5% auto -10px auto;
    padding: .5rem;
}

main {
    display: block;
    margin: 1.5rem auto;
}
main section {
    background: #bbb;
    margin-bottom: 2rem;
    padding: 1.2rem;
    width: 100%;
}
main section .posts .post-item {
    background: #eee;
    margin-bottom: 1.5rem;
    padding: .5rem;
    width: 100%;
}
main section .posts .post-item .caption {
    color: yellow;
    position: relative;
}
main section .posts .post-item .caption p {
    bottom: .5rem;
    font-size: .7rem;
    left: .3rem;
    position: absolute;
}
main section .posts .post-item h2 {
    color: #fff;
    background-color: #EB7F80;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
    padding: .5rem 0 0 .4rem;
    text-transform: uppercase;
}
main section .posts .post-item .desc {
    color: rgb(85, 84, 84);
    font-size: .8rem;
    margin: 1rem 0 .5rem 0;
}
main section .posts .post-item a {
    color: #aaa;
    font-size: .8rem;
    text-decoration: none;
}
main aside {
    background: #bbb;
    min-height: 200px;
    padding: 1.2rem;
    text-align: center;
    width: 100%;
}
main aside h3 {
    margin-bottom: 1rem;
}
main aside p {
    margin-bottom: 1rem;
}

footer {
    background: #bbb;
    padding: 0 .5rem;
    text-align: center;
}
footer p {
    height: 100%;
    background: #eee;
    color: rgb(85, 84, 84);
    padding: 1rem 0;
}

/* 
    ##Device = Laptops, Desktops
    ##Screen = minimum 1025px
*/  
@media (min-width: 1025px) {
    body {
        margin: 1.5rem auto;
        max-width: 1200px;
        padding: 0;
    }
    header {
        background-position: center 50%;
        background-size: auto;
        height: 400px;
        padding: 1.2rem;
        position: relative;
    }
    header .topbar {
        align-items: center;
        display: flex;
        height: 20%;
    }    
    header .featured {
        display: flex;
        height: 80%;
    }
    header .featured h1 {
        align-self: end;
        background: rgba(0,0,0,.1);
        padding-top: 1.5rem;
        width: 90%;
    }
    .logo, nav, .social {
        display: inline-block;
        height: 1rem;
        margin: 0;
    }
    .logo, .social {
        width: 12%;
    }

    .logo {
        height: auto;
    }
    nav {
        width: 75%;
        margin: auto 1rem;
    }
    nav ul li {
        display: inline-block;
        margin-left: 2rem;
        margin-right: 3rem;
    }
    main {
        display: flex;
        margin: 1rem auto;
    }
    main section {
        margin-bottom: 0;
        margin-right: 1rem;
        padding: 1rem;
        width: 70%;
    }
    main section .posts {
        column-count: 2;
        column-gap: 1rem;
    }
    main section .posts .post-item {
        margin-bottom: 1rem;
    }
    main section .posts .post-item .desc {
        column-count: 2;
        column-gap: 1rem;
        min-height: 120px;
        width: 100%;
    }
    main aside {
        padding: 1rem;
        width: 30%;
    }
    main aside p {
        margin-bottom: .5rem;
    }
    footer {
        height: 5%;
    }
}
  
/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
    header {
        background-position: center 47%;
        background-size: 150%;
        height: 25%;
    }
    header .topbar {
        height: 45%;
        padding: 1.5rem;
    }
    header .topbar {
        align-items: center;
        display: flex;
        justify-content: center;
        margin-bottom: .7rem;
    }
    .logo, nav, .social {
        display: inline-block;
        margin: 0;
    }
    .logo, .social {
        width: 14%;
    }
    nav {
        margin: auto 1rem;
        width: 65%;
    }
    header .featured h1 {
        align-self: end;
        background: rgba(0,0,0,.1);
        height: 5.4rem;
        padding-top: 1.5rem;
        width: 90%;
    }
    main section .posts {
        column-count: 2;
        column-gap: 1.5rem;
    }
    main section .posts .post-item {
        margin-bottom: 1.5rem;
        width: 100%;
    }
    main aside {
        min-height: 150px;
    }
}